<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<div class="sitenav">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'flightdata:flight_info' %}">Flights</a>
    <a href="{% url 'flightdata:airfares' %}">Airfares</a>
    <a href="{% url 'flightdata:airports' %}">Airports</a>
    <a href="{% url 'flightdata:airlines' %}">Airlines</a>
    <a href="{% url 'flightdata:routes' %}">Routes</a>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
    <a href="{% url 'admin:index' %}">Admin</a>
</div>
<div class="main">
    <h1>Home</h1>
    <h2>Recent Flights</h2>
    <table>
        <tr>
            <th>Flights</th>
            <th>Time Collected</th>
            <th>Departure Time</th>
            <th>Departure Status</th>
            <th>Arrival Time</th>
            <th>Arrival Status</th>
        </tr>    
        {% for flight in flight_list %}
        <tr>
            <td>{{ flight.flight.flight_number }}</td>
            <td>{{ flight.time_collected }} </td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.departure_status }}</td>
            <td>{{ flight.arrival_time }}</td>
            <td>{{ flight.arrival_status }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <!-- put cvs export here -->
    </div>
</div>
</html>
