<body lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>{% block title %}Settings{% endblock %}</title>
</head>
<body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a class="active" href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    <div id="content", name="content", class="main">
        <h1>Settings</h1>
        
        <form name="settings_form" action="." method="post" onsubmit="return validateform()">
            {% csrf_token %}
            <div class="filter-row">
                <div class="filter-col">
                    <h2>Current Setting</h2>
                    <h3>{{ setting.value }}</h3>
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">
                    <h2>Add new  metro setting</h2>
                    <input type="textbox" name="metro" id="metro" placeholder="time1;time2;time3; etc">
                </div>
                <div class="filter-col">
                    <h2>Add new regional setting</h2>
                    <input type="textbox" name="regional" id="regional" placeholder="time1;time2;time3; etc">
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">       
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </form>
    <script>  
        function validateform(){  
            var metro=document.settings_form.metro.value;  
            var regional=document.settings_form.regional.value;  

            if (metro==null || metro==""){  
                alert("Please enter valid schedule");  
                return false;  
            }else if(regional==null || regional==""){  
                alert("Please enter valid schedule");  
                return false;  
            }  
        }  
    </script>  
</body>
</html>