<h2>Aircraft</h2>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Num. Seats</th>
    </tr>
    {% for aircraft in aircraft_list %}
        <tr>
            <td>{{ aircraft.make }}</td>
            <td>{{ aircraft.model }}</td>
            <td>{{ aircraft.num_seats }}</td>
        </tr>
    {% endfor %}
</table>