<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
        <title> Airfares</title>
    </head>
    <body> 
        <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a class="active" href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a href="{% url 'flightdata:airports' %}">Airports</a>
            <a href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>    
        <div class="main">
            <h1>Airfares</h1>
            <form action="./airfares" method="get">
                <div class="filter-row">
                    <div class="filter-col">
                        <label for="search_class">Class</label>
                        <input type="search" name="search_class" id="search_class" placeholder="Class">
                    </div>
                    <div class="filter-col">
                        <label for="search_type">Type</label>
                        <input type="search" name="search_type" id="search_type" placeholder="Type">
                    </div>
                    <div class="filter-col">
                        <label for="min_fare">Min Price</label>
                        <input type="number" name="min_fare" id="min_fare" min="0" placeholder="Min Price">
                    </div>
                    <div class="filter-col">
                        <label for="max_fare">Max Price</label>
                        <input type="number" name="max_fare" id="max_fare" min="0" placeholder="Max Price">
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-col">
                        <label for="search_flight">Flight</label>
                        <input type="search" id="search_flight" name="search_flight" placeholder="Search Flight..." />                        
                    </div>     
                    <div class="filter-col">
                        <label for="search_date">Date</label>
                        <input type="date" name="search_date" id="search_date">
                    </div>
                    <div class="filter-col">
                        <label for="results">Results</label>
                        <select name="results" id="results">
                            <option value="" disabled selected>All</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <button type="submit">Search</button>
                    </div>
                </div>
            </form>
            <table>
                <tr>
                    <th>Flight Number</th>
                    <th>Time Collected</th>
                    <th>Fare Class</th>
                    <th>Fare Type</th>
                    <th>Fare</th>
                </tr>
                {% for airfare in airfares %}
                    <tr>
                        <td>{{ airfare.flight.flight_number }}</td>
                        <td>{{ airfare.time_collected }}</td>
                        <td>{{ airfare.fare_class }}</td>
                        <td>{{ airfare.fare_type }}</td>
                        <td>{{ airfare.fare }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>