<!DOCTYPE html>
<html>
    
    <head>
        <title>Routes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    </head>   
    <body>
        <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a href="{% url 'flightdata:airports' %}">Airports</a>
            <a class="active" href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div class="main">
            <h1>Airlines</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                </tr>
                {% for airline in airline_list %}
                <tr>
                    <td>{{ airline.name }}</td>
                    <td>{{ airline.website }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
