<!DOCTYPE html>
<html>
    
    <head>
        <title>Airports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    </head>   
    <body>
        <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a class="active" href="{% url 'flightdata:airports' %}">Airports</a>
            <a href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div class="main">
            <h1>Airports</h1>
            {% for airport in airport_list %}
            <button class="accordion"><b>{{ airport.name }}</b></button>
            <div class="panel">
                <table>
                    <th>IATA Code</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Timezone</th>
                    <tr>
                        <td>{{ airport.iata_code }}</td>
                        <td>{{ airport.latitude }}</td>
                        <td>{{ airport.longitude }}</td>
                        <td>{{ airport.timezone }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <script src="{% static 'flightdata/site_script.js' %}"></script>
        </div>
    </body>
</html>