<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
        <title>{{ flight_number }}</title>
    </head>
    <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a href="{% url 'flightdata:airports' %}">Airports</a>
            <a href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    <div class="main">
        <h1>{{ flight_number }}</h1>
            <table>
                <tr>
                    <th>Time Collected</th>
                    <th>Departure Time</th>
                    <th>Departure Status</th>
                    <th>Arrival Time</th>
                    <th>Arrival Status</th>
                </tr>    
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.time_collected }} </td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.departure_status }}</td>
                    <td>{{ flight.arrival_time }}</td>
                    <td>{{ flight.arrival_status }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'flightdata:flight_info' %}">Back</a>
    </div>
</html>