<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
        <title> Airfares</title>
    </head>
    <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a href="{% url 'flightdata:airports' %}">Airports</a>
            <a href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    <div class="main">
        <h1>{{ flight_number }}</h1>
        <table>
            <tr>
                <th>Time Collected</th>
                <th>Fare Class</th>
                <th>Fare Type</th>
                <th>Fare</th>
            </tr>    
            {% for airfare in airfare_list %}
            <tr>
            <td>{{ airfare.time_collected }}</td>
            <td>{{ airfare.fare_class }}</td>
            <td>{{ airfare.fare_type }}</td>
            <td>{{ airfare.fare }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'flightdata:flight_info' %}">Back</a>
    </div>
</html>