<!DOCTYPE html>
<html>
    <head>
        <title>Flights</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    </head>
    <body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a class="active" href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>s
    </div>
    <div class="main">
    <h1>Flights</h1>
    <form method="GET" action="./flights">
        <div class="filter-row">
            <div class="filter-col">
                <label for="search_filght">Flight</label>
                <input type="search" id="search_flight" name="search_flight" placeholder="Search Flight..." />                
            </div>
            <div class="filter-col">
                <label for="airlne">Airline</label>
                <select id="airline" name="airline">
                    <option value="" disabled selected>Choose Airline</option>
                    {% for airline in airlines %}
                    <option value="{{ airline.name }}">{{ airline.name }}</option>
                    {% endfor %}
                </select>
            </div>      
        </div>
        <div class="filter-row">
            <div class="filter-col">
                <label for="origin_airport">Origin Airport</label>
                <select name="origin_airport" id="origin_airport">
                    <option value="" disabled selected>Choose Airport</option>
                    {% for airport in airports %}
                    <option value="{{ airport.iata_code }}">{{ airport.name }}</option>
                    {% endfor %}
                </select>       
            </div>
            <div class="filter-col">
                <label for="destination_airport">Destination Airport</label>
                <select name="destination_airport" id="destination_airport">
                    <option value="" disabled selected>Choose Airport</option>
                    {% for airport in airports %}
                    <option value="{{ airport.iata_code }}">{{ airport.name }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
        <div class="filter-row">
            <div class="filter-col">
                <label for="departure_date">Departure</label>
                <input type="date" id="departure_date" name="departure_date" placeholder="Departure Date">
            </div>
            <div class="filter-col">
                <label for="arrival_date">Arrival</label>
                <input type="date" id="arrival_date" name="arrival_date" placeholder="Arrival Date">
            </div>
            <div class="filter-col">
                <label for="results">Results</label>
                <select name="results" id="results">
                    <option value="" disabled selected>All</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button type="submit">Search</button>
            </div>
        </div>
    </form>
    {% for flight in flights %}    
    <button class="accordion"><b>{{ flight.flight_number }}</b>&emsp;<b>{{ flight.origin.iata_code }}</b> <b>&RightArrow;</b> <b>{{ flight.destination.iata_code }}</b>&emsp;<b>{{ flight.airline.name }}</b>&emsp;<b>{{ flight.departure_time }}</b></button>
    <div class="panel">
        <table>
            <tr>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Airline</th>
                <th>Aircraft Model</th>
            </tr>        
            <td>{{ flight.flight_number }}</td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.arrival_time }}</td>
            <td><a href="{% url 'flightdata:airports' %}">{{ flight.origin.iata_code }}</a></td>
            <td><a href="{% url 'flightdata:airports' %}">{{ flight.destination.iata_code }}</a></td>
            <td><a href="{% url 'flightdata:airlines' %}">{{ flight.airline.name }}</a></td>
            <td>{{ flight.aircraft_model.make }} {{ flight.aircraft_model.model }}</td>
        </table>
        
        <a href="{% url 'flightdata:flight_status' flight.flight_number %}">Status History</a> 
        <a href="{% url 'flightdata:airfare' flight.flight_number %}">Airfare History</a>
    </div>
    {% endfor %}
    <script src="{% static 'flightdata/site_script.js' %}"></script>
    </div>
</body>
</html>