<!DOCTYPE html>
<html>
    
    <head>
        <title>Routes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    </head>   
    <body>
        <div class="sitenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'flightdata:flight_info' %}">Flights</a>
            <a href="{% url 'flightdata:airfares' %}">Airfares</a>
            <a href="{% url 'flightdata:airports' %}">Airports</a>
            <a href="{% url 'flightdata:airlines' %}">Airlines</a>
            <a class="active" href="{% url 'flightdata:routes' %}">Routes</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'errors:scraper_logs' %}">Scraper</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div class="main">
            <h1>Routes</h1>
            <form action="./routes" method="get">
                <div class="filter-row">
                    <div class="filter-col">           
                        <label for="origin">Origin</label>
                        <select name="origin" id="origin">
                            <option value="" disabled selected>Choose Airport</option>
                            {% for airport in airports %}
                            <option value="{{ airport.iata_code }}">{{ airport.iata_code }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="filter-col">
                        <label for="dest">Destination</label>
                        <select name="dest" id="dest">
                            <option value="" disabled selected>Choose Airport</option>
                            {% for airport in airports %}
                            <option value="{{ airport.iata_code }}">{{ airport.iata_code }}</option>
                        {% endfor %}
                    </select>    
                    </div>
                    <div class="filter-col">
                        <label for="start">Started Tracking</label>
                        <input type="date" name="start" id="start">
                    </div>
                    <div class="filter-col">
                        <label for="stop">Stopped Tracking</label>
                        <input type="date" name="stop" id="stop">
                    </div>
                    
                </div>
                <div class="filter-row">
                    <div class="filter-col">
                        <label for="results">Results</label>
                        <select name="results" id="results">
                            <option value="" disabled selected>All</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <button type="submit">Search</button>
                    </div>
                </div>
            </form>
            <table>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Started Tracking</th>
                <th>Stopped Tracking</th>
            </tr>
            {% for route in routes %}
            <tr>
                <td>{{ route.origin.name }}</td>
                <td>{{ route.destination.name }}</td>
                <td>{{ route.start_tracking }}</td>
                <td>{{ route.stop_tracking }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
