* {
    box-sizing: border-box;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel table {
    border-collapse: collapse;
    width: 100%;
}

.panel th, 
.panel td {
    text-align: left;
    padding: 8px;
}

.panel tr:nth-child(even){
    background-color: #f2f2f2
}

.panel th {
    background-color:#777;
    color: white;
}

.panel a:link, .panel a:visited {
    background-color: #ccc;
    color: black;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.panel a:hover, .panel a:active {
    background-color: #eee;
}

.sitenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000111;
    overflow-x: hidden;
    padding-top: 20px;
    font-weight: bold;
    font-family: monospace;
}

.sitenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
}

.sitenav a:hover {
    color: #f1f1f1;
}

.sitenav .active {
    background-color: grey;
    color: #eee;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.main table {
    border-collapse: collapse;
    width: 100%;
}
    
.main th, 
.main td {
    text-align: left;
    padding: 8px;
}
    
.main tr:nth-child(even){
    background-color: #f2f2f2
}

.main th {
    background-color:#777;
    color: white;
}

.main a:link, .main a:visited {
    background-color: #ccc;
    color: black;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main a:hover {
    background-color: #eee;
}

h1 {
    display: block;
    color: #ccc;
    text-align: left;
    padding: 16px 20px;
    text-decoration: none;
    background-color: #000111;
    font-size: 28px;
    font-family: monospace;
    border-top-right-radius: 25px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
    border-bottom-right-radius: 25px;
}

#menu li {
    float: left;
}

#menu li a {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    border-bottom-right-radius: 25px;

}

#menu li a:hover:not(.active) {
    background-color: #ccc;
}

#menu .active {
    background-color: grey;
    color: #eee;
}

.filter-row {
    display: flex;
    margin-bottom: 10px;
}

.filter-col {
    width: 100%;
    padding-left: 10px;
}

.filter-col input[type="search"] {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.filter-col select {
    width: 100%;
    float: right;
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #777;
}



#results {
    background-image: none;
    width: 20%;
    float: left;
    font-size: 16px;
    padding: 12px 12px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #777;
}

#type_search,
#status_search,
#severity, 
#errors {
    background-image: none;
    width: 100%;
    font-size: 16px;
    padding: 12px 12px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #777;
}

.filter-col input[type='date'] {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #777;
}

.filter-col input[type='number'] {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 12px ;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.filter-col label {
    display: block;
    font-family: monospace;
    color: #777;
    font-size: 18px;
}

.filter-col button {
    background-color: #777777;
    border: none;
    color: white;
    padding: 12px 12px 12px 12px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.flight-col div{
    background-color: #777777;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

h2 {
    background-color: #ccc;
    color: #444;
    font-family: monospace;
    padding: 4px 4px 4px 4px;
    border-bottom-right-radius: 25px;
}

input {
    width: 100%;
    font-size: 16px;
    padding: 10px 10px ;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

h3{
    color: #444;
    font-family: monospace;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}