<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>Scraper Logs</title>
</head>
<body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a class="active" href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    <div class="main">
        <h1>Scraper Logs</h1>
        <div id="menu">
            <ul>
                <li><a class="active" href="{% url 'errors:scraper_logs' %}">Scraper Log</a></li>
                <li><a href="{% url 'errors:scraper_errors' %}">Scraper Errors</a></li>
                <li><a href="{% url 'errors:scraper_settings' %}">Scraper Settings</a></li>
                <li><a href="{% url 'errors:scraper_sessions' %}">Scraper Sessions</a></li>
            </ul>
        </div>
        <form action="./scraperlogs" method="get">
            <div class="filter-row">
                <div class="filter-col">
                    <label for="date_search">Timestamp</label>
                    <input type="date" name="date_search" id="date_search">
                </div>
                <div class="filter-col">
                    <label for="url_search">Target URL</label>
                    <input type="search" name="url_search" id="url_search" placeholder="Search Website..">
                </div>
                <div class="filter-col">
                    <label for="flight_search">Flight</label>
                    <input type="search" name="flight_search" id="flight_search" placeholder="Search Flight..">
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">
                    <label for="type_search">Data Type</label>
                    <select name="type_search" id="type_search">
                            <option value="" disabled selected>Select Data Type</option>
                        <option value="F">Flight Status</option>
                        <option value="A">Airfare</option>
                    </select>
                </div>
                <div class="filter-col">
                    <label for="status_search">Status</label>
                    <select name="status_search" id="status_search">
                        <option value="" disabled selected>Select Status</option>
                        <option value="S">Success</option>
                        <option value="F">Failed</option>
                        <option value="W">Warning</option>
                        <option value="E">Error</option>
                    </select>
                </div>
                <div class="filter-col">
                    <label for="results">Results</label>
                    <select name="results" id="results">
                        <option value="" disabled selected>All</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
        <table>
            <tr>
                <th>Timestamp</th>
                <th>Target URL</th>
                <th>Session</th>
                <th>Flight Number</th>
                <th>Data Type</th>
                <th>Message</th>
                <th>Status</th>
            </tr>
            {% for log in scraperlogs %}
                <tr>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.target_url }}</td>
                    <td>{{ log.session.session_start }}&emsp;{{ log.session.session_end }}</td>
                    <td>{{ log.flight.flight_number }}</td>
                    <td>{{ log.get_data_display }}</td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
