<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>Scraper Logs</title>
</head>
<body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a class="active" href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    <div class="main">
        <h1>Scraper Errors</h1>
        <div id="menu">
            <ul>
                <li><a href="{% url 'errors:scraper_logs' %}">Scraper Log</a></li>
                <li><a class="active" href="{% url 'errors:scraper_errors' %}">Scraper Errors</a></li>
                <li><a href="{% url 'errors:scraper_settings' %}">Scraper Settings</a></li>
                <li><a href="{% url 'errors:scraper_sessions' %}">Scraper Sessions</a></li>
            </ul>
        </div>
        <form action="./scrapererrors" method="get">
            <div class="filter-row">
                <div class="filter-col">
                    <label for="error_id">ID</label>
                    <input type="search" name="error_id" id="error_id" placeholder="Search ID..">
                </div>
                <div class="filter-col">
                    <label for="log_date">Log</label>
                    <input type="date" name="log_date" id="log_date" >
                </div>
                <div class="filter-col">
                    <label for="severity">Severity</label>
                    <select name="severity" id="severity">
                        <option value="" disabled selected>Select Severity level</option>
                        <option value="F">Fatal</option>
                        <option value="E">Error</option>
                        <option value="R">Recoverable</option>
                        <option value="W">Warning</option>
                    </select>
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">
                    <label for="results">Results</label>
                    <select name="results" id="results">
                        <option value="" disabled selected>All</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
        <table>
                <tr>
                    <th>Error ID</th>
                    <th>Log</th>
                    <th>Severity</th>
                    <th>Error Details</th>
                </tr>
                {% for error in errors %}
                    <tr>
                        <td>{{ error.id }}</td>
                        <td>{{ error.log.timestamp }}</td>
                        <td>{{ error.get_severity_display }}</td>
                        <td>{{ error.error_details }}</td>
                    </tr>
                {% endfor %}
            </table>
    </div>
</body>
</html>