<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>Scraper Logs</title>
</head>
<body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a class="active" href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    <div class="main">
        <h1>Scraper Sessions</h1>
        <div id="menu">
            <ul>
                <li><a href="{% url 'errors:scraper_logs' %}">Scraper Log</a></li>
                <li><a href="{% url 'errors:scraper_errors' %}">Scraper Errors</a></li>
                <li><a href="{% url 'errors:scraper_settings' %}">Scraper Settings</a></li>
                <li><a class="active" href="{% url 'errors:scraper_sessions' %}">Scraper Sessions</a></li>
            </ul>
        </div>
        <form action="./scrapersessions" method="get">
            <div class="filter-row">
                <div class="filter-col">
                    <label for="target_site">Website</label>
                    <input type="search" name="target_site" id="target_site" placeholder="Search Website">
                </div>
                <div class="filter-col">
                    <label for="start">Start Date</label>
                    <input type="date" name="start" id="start">
                </div>
                <div class="filter-col">
                    <label for="end">End Date</label>
                    <input type="date" name="end" id="end">
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">
                    <label for="errors">Error</label>
                    <select name="errors" id="errors">
                        <option value="" disabled selected>Select Error</option>
                        <option value="n">None</option>
                        <option value="f">Fatal Error</option>
                        <option value="r">Recoverable</option>
                        <option value="w">Warning</option>
                    </select>
                </div>
                <div class="filter-col">    
                    <label for="scraper_ip">Scraper IP</label>
                    <input type="search" name="scraper_ip" id="scraper_ip" placeholder="Search Scraper IP..">
                </div>
                <div class="filter-col">
                    <label for="results">Results</label>
                    <select name="results" id="results">
                        <option value="" disabled selected>All</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button id="sessions-submit" type="submit">Search</button>
                </div>
            </div>
        </form>
        <table>
            <tr>
                <th>Target Site</th>
                <th>Session Start</th>
                <th>Session End</th>
                <th>Errors</th>
                <th>Scraper IP</th>
            </tr>
            {% for session in sessions %}
            <tr>
                <td>{{ session.target_site }}</td>
                <td>{{ session.session_start }}</td>
                <td>{{ session.session_end }}</td>
                <td>{{ session.get_errors_display }}</td>
                <td>{{ session.scraper_ip }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>