<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightdata/style.css' %}">
    <title>Scraper Logs</title>
</head>
<body>
    <div class="sitenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'flightdata:flight_info' %}">Flights</a>
        <a href="{% url 'flightdata:airfares' %}">Airfares</a>
        <a href="{% url 'flightdata:airports' %}">Airports</a>
        <a href="{% url 'flightdata:airlines' %}">Airlines</a>
        <a href="{% url 'flightdata:routes' %}">Routes</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a class="active" href="{% url 'errors:scraper_logs' %}">Scraper</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    <div class="main">
        <h1>Scraper Settings</h1>
        <div id="menu">
            <ul>
                <li><a href="{% url 'errors:scraper_logs' %}">Scraper Log</a></li>
                <li><a href="{% url 'errors:scraper_errors' %}">Scraper Errors</a></li>
                <li><a class="active" href="{% url 'errors:scraper_settings' %}">Scraper Settings</a></li>
                <li><a href="{% url 'errors:scraper_sessions' %}">Scraper Sessions</a></li>
            </ul>
        </div>
        <form action="./scrapersettings" method="get">
            <div class="filter-row">
                <div class="filter-col">
                    <label for="search_key">Key</label>
                    <input type="search" name="search_key" id="search_key" placeholder="Search Key..">
                </div>
                <div class="filter-col">
                    <label for="valid_from">Valid From</label>
                    <input type="date" name="valid_from" id="valid_from">
                </div>
                <div class="filter-col">
                    <label for="valid_to">Valid To</label>
                    <input type="date" name="valid_to" id="valid_to">
                </div>
            </div>
            <div class="filter-row">
                <div class="filter-col">
                    <label for="results">Results</label>
                    <select name="results" id="results">
                        <option value="" disabled selected>All</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button id="settings-submit" type="submit" name=>Search</button>
                </div>
            </div>
        </form>
        <table>
            <tr>
                <th>Key</th>
                <th>Valid From</th>
                <th>Value</th>
                <th>Valid To</th>
            </tr>
            {% for setting in settings %}
                <tr>
                    <td>{{ setting.key }}</td>
                    <td>{{ setting.valid_from }}</td>
                    <td>{{ setting.value }}</td>
                    <td>{{ setting.valid_to }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>